html {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

body, html {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.button {
    background-color: #00b3ff;
    border: solid #333333;
    color: #333333;
    margin: 10%;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-align: center;

    display: block;
    line-height: 3;
}

.filledhearts {
    color: red;
    font-size: 14px;
}

/* fancy zeugs siehe https://css-tricks.com/box-sizing/   */
/*----------------index----------------------------------*/
body {
    background-color: #333;
    background-image: url("../graphics/game/galaxy-2150186_960_720.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#gamebody {
    min-width: 450px;
    width: 80vw;
    max-width: 1000px;

    min-height: 60vh;
    margin: 0 auto;
    background-color: #555;

    overflow: hidden;
}

#logo {
    height: 15vh;
    margin: 0 auto;
}

#logo img {
    height: 100%;
    display: block;
    margin: 0 auto;
}

#footer {
    height: 15vh;
}

/*-------------Login----------------------------------*/

#loginwrapper h1, #login, #loginwrapper p {
    width: 173px;
    margin: 0 auto;
}

#btnlogin {
    margin-left: 125px;
}

#loginwrapper h1, #login input, #loginwrapper p {
    margin-top: 5px;
    margin-bottom: 20px;
}

#loginwrapper {
    padding-top: 10%;
}

#loginwrapper h1 {
    color: #fff;
}

#loginwrapper a {
    color: #fff;
    margin-left: 67px;
}

.error {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/*-------------Registrieren----------------------------------*/

#registerwrapper h1, #register, #registerwrapper p {
    width: 173px;
    margin: 0 auto;
}

#btnregister {
    margin-left: 108px;
}

#registerwrapper h1, #register input, #registerwrapper p {
    margin-top: 5px;
    margin-bottom: 20px;
}

#registerwrapper {
    padding-top: 10%;
}

#registerwrapper h1 {
    color: #fff;
}

#registerwrapper a {
    color: #fff;
    margin-left: 23px;
}

/*---------------Menue----------------------------------------*/

.menuewrapper {
    display: flex;
    height: 100%;
    color: white;
}

.left, .right {
    width: 50%;
    height: 100%;
}

.left .button {
    width: 80%;
    height: 80%;
}

.right {
    padding: 0 3%;
}

.right h1 {
    text-align: center;
}

/*-------------------------Login Erfolgreich------------------------------------*/

#loginErfolgreichwrapper h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

#loginmsg {
    text-align: center;
    color: white;
    font-size: 24px;
}

/*--------------------------------Quiz--------------------------------------------*/

#quizwrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px 1fr;
    height: 100%;
}

#kontinent {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 3%;
}

#highscore {
    color: white;
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    padding-top: 20px;
}

#quiz {
    background-color: greenyellow;
}

#quiz label {
    display: block;
}

#quizanswer {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#quizanswer.red {
    background-color: #c74239;
}

#quizanswer.green {
    background-color: rgba(60, 254, 60, 0.74);
}

.solution {
    padding: 3%;
}

#question {
    border: solid #555555 2px;
}

.quiz {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    text-align: center;

    margin: 0 auto 5%;
    width: 550px;
    max-width: 90%;

    font-size: 20px;
}

.question {
    padding: 3%;
}

.answer {
    padding: 3%;
    cursor: pointer;
    border: solid #555555 2px;
    font-weight: bold;
}

.answer-a {
    background-color: #00b3ff;
}

.answer-b {
    background-color: orangered;
}

.answer-c {
    background-color: rgba(198, 0, 198, 0.65);
}

.answer-d {
    background-color: yellow;
}

#quiz input {
    display: none;
}

/*----------------------High Score---------------------------------*/

#HighScoreWrapper {
    color: white;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 75% 25%;
    width: 100%;
    height: 100%;
}

#HighScoreWrapper .button {
    grid-row: 3;
    grid-column: 2;
}

#HighScoreWrapper #info {
    grid-column: 1;
    grid-row: 1;
}

#HighScoreWrapper #scoreWrapper {
    grid-row: 2;
    grid-column: 1;
    overflow-y: auto;
    text-align: center;
}

#HighScoreWrapper th {
    color: orange;
    font-size: 22px;
}

#HighScoreWrapper .currentUser {
    color: #00b8ff;
}

/*----------------------QuizScore----------------------------*/

#currentScoreWrapper {
    font-size: 18px;
    color: white;
    height: 100%;
    text-align: center;
}

#currentScoreWrapper #heartsScore {
    padding-top: 20px;
}

#currentScoreWrapper .filledhearts {
    font-size: 18px;
}
/*----------------------SelectContinent-----------------------*/
#kontinentname {
	color: #fff;
}
/*----------------------Game-----------------------*/
#countryQuestion {
	color: orange;
}

#gamewrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px 1fr;
    height: 100%;
}

#aktuellerKontinent {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 3%;
}

#gameQuestion {
	color: white;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    padding-top: 20px;
}
/*----------------------GameEval-----------------------*/

#gameResponse {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    text-align: center;

    margin: 0 auto 5%;
    width: 550px;
    max-width: 90%;

    font-size: 20px;
}

#gameQuestionCountMessage {
    grid-column: 2;
    grid-row: 3;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 25%;
}
#gameResponseMessage {
    grid-column: 2;
    grid-row: 4;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 25%;
}

#gameWrongAnswer{
	color: #c74239;
}

#gameCorrectAnswer {
	color: rgba(60, 254, 60, 0.74);
}
/*----------------------GameTransitionContinentSelect-----------------------*/

#GameTransitionContinentSelectWrapper {
    font-size: 18px;
    color: white;
    height: 100%;
    text-align: center;
}

#GameTransitionContinentSelectWrapper #heartsScore {
    padding-top: 20px;
}

#GameTransitionContinentSelectWrapper .filledhearts {
    font-size: 18px;
}

/*--------test------------------*/
/*
#worldmap svg {
    height: 100%;
    width: 100%;
}*/