html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* fancy zeugs siehe https://css-tricks.com/box-sizing/   */
/*----------------index----------------------------------*/
body {
    background-color: #333;
}

#gamebody {
    min-width: 300px;
    width: 80vw;
    max-width: 1000px;
    height: 35vw;
    min-height: 150px;
    margin: 0 auto;
    position: relative;
    background-color: #555;

}

/*#gamebody-background{
    background-color: #555;

}
.gamebody-background{
    background-color: #555555;
}
*/

#logo {
    width: 30vw;
    min-width: 75px;
    max-width: 250px;
    margin: 0 auto;
}

#logo img {
    width: 100%;
}

/*-------------Login----------------------------------*/

#loginwrapper h1, #login, #loginwrapper p {
    width: 173px;
    margin: 0 auto;
}

#btnlogin {
    margin-left: 125px;
}

#loginwrapper h1, #login input, #loginwrapper p {
    margin-top: 20px;
}

#loginwrapper {
    padding-top: 10%;
}

#loginwrapper h1 {
    color: #fff;
}

#loginwrapper a {
    color: #fff;
    margin-left: 67px;
}

/*-------------Registrieren----------------------------------*/

#registerwrapper h1, #register, #registerwrapper p {
    width: 173px;
    margin: 0 auto;
}

#btnregister {
    margin-left: 108px;
}

#registerwrapper h1, #register input, #registerwrapper p {
    margin-top: 20px;
}

#registerwrapper {
    padding-top: 10%;
}

#registerwrapper h1 {
    color: #fff;
}

#registerwrapper a {
    color: #fff;
    margin-left: 23px;
}

/*---------------Menue----------------------------------------*/

.menuewrapper {
    display: flex;
    height: 100%;
    position: absolute;
    color: white;
    /*z-index: -2;*/
}

.left, .right {

    width: 50%;
    height: 100%;

}

.left {
    border-right: solid #333333 2px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.left .button {
    background-color: #00b3ff;
    border: solid;
    border-color: #333333;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 65px;
    margin-right: 65px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.warp11 {
    display: inline-block;
}

.left .table {
    width: calc(100% - 65px - 65px);
    height: calc(100% - 40px - 40px);
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    vertical-align: middle;
    display: table;
}

.right h1 {
    text-align: center;
}

.right {
    padding-left: 65px;
    padding-right: 55px;
}

/*-------------------------Login Erfolgreich------------------------------------*/

#loginErfolgreichwrapper h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

#loginmsg {
    text-align: center;
    color: white;
    font-size: 24px;
}

/*--------------------------------Quiz--------------------------------------------*/

#quizwrapper {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 100px 1fr 100px;
    height: 100%;
}

#kontinent{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    color: white;
    font-size: 20px;
}

#highscore {
    color: white;
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    padding-top: 20px;
}


#quiz {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    background-color: greenyellow;
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}

#question{
    padding-top: 40px;
    font-size: 20px;
}

.answer-a {
    background-color: #00b3ff;
    padding-top: 20px;
    cursor: pointer;
}

.answer-b {
    background-color: orangered;
    padding-top: 20px;
    cursor: pointer;
}

.answer-c {
    background-color: rgba(198, 0, 198, 0.65);
    padding-top: 20px;
    cursor: pointer;
}

.answer-d {
    background-color: yellow;
    padding-top: 20px;
    cursor: pointer;
}

#quiz input {
    display: none;
}

#quiz.red{
    background-color: #c74239;
    padding-top: 20px;
    font-size: 20px;
}

#quiz.green{
    background-color: rgba(60, 254, 60, 0.74);
    padding-top: 20px;
    font-size: 20px;
}